<b> </> in HTML will display bold
<strong> </strong> in HTML will display in bold but will be in lower tone when listened to



p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
}


h1 {	
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 2em;
	text-align: center; 
}

p.important {
	font-size: 1.5em;
	font-weight: 900;
	color: red;
}

h3.bigger {
	font-size: 2.5em;
}

.typewriter { 
	font-family: "Courier New", Courier, monospace; 
	letter-spacing: .1em;
}
 
.special {
 	font-style: italic;
 }

.standout {
 	color: #cc0000;
 }

blockqoute {
 	color: red;
 }